
.orange-strip{
    fill:#FF9933;
    stroke:black;
    stroke-width:2;
}

.white-strip{
    fill:white;
    stroke:black;
    stroke-width:2;
}

.green-strip{
    fill:#138808;
    stroke:black;
    stroke-width:2;
}

.chakra{
    fill:none;
    stroke:navy;
    stroke-width:3;
}